@charset "utf-8";
#container2 {
	width: 1190px;
	height: 832px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background-color: hsla(0,0%,13%,1.00);
	border-radius: 20px;
	border: medium inset hsla(0,0%,100%,1.00);
}
#image {
	width: 1190px;
	height: 275px;
	background-color: hsla(0,0%,24%,1.00);
}
#nav {
	background-color: hsla(0,0%,13%,1.00);
	height: 30px;
	width: 1190px;
	color: hsla(0,0%,0%,1.00);
}
#text {
	background-color: hsla(0,0%,5%,1.00);
	width: 700px;
	height: 350px;
	float: left;
	color: hsla(0,0%,100%,1.00);
}
#notsure {
	float: left;
	height: 350px;
	background-color: hsla(0,0%,91%,1.00);
	min-width: 0px;
	width: 490px;
}
#nav ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	list-style-type: none;
}
#nav li {
	float: left;
	background-color: hsla(42,4%,53%,1.00);
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
}
#nav a {

}
